body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(237, 240, 244) !important;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='79.2%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231819B8'/%3E%3Cstop offset='1' stop-color='%23055229'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='51.6%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23240717' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23240717' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%2319CD30' stroke-width='11.4' stroke-miterlimit='10' stroke-opacity='0.17'%3E%3Cpolygon points='-500%2C500 500%2C-500 1500%2C500 500%2C1500'/%3E%3Cpolygon points='-475%2C500 500%2C-475 1475%2C500 500%2C1475'/%3E%3Cpolygon points='-450%2C500 500%2C-450 1450%2C500 500%2C1450'/%3E%3Cpolygon points='-425%2C500 500%2C-425 1425%2C500 500%2C1425'/%3E%3Cpolygon points='-400%2C500 500%2C-400 1400%2C500 500%2C1400'/%3E%3Cpolygon points='-375%2C500 500%2C-375 1375%2C500 500%2C1375'/%3E%3Cpolygon points='-350%2C500 500%2C-350 1350%2C500 500%2C1350'/%3E%3Cpolygon points='-325%2C500 500%2C-325 1325%2C500 500%2C1325'/%3E%3Cpolygon points='-300%2C500 500%2C-300 1300%2C500 500%2C1300'/%3E%3Cpolygon points='-275%2C500 500%2C-275 1275%2C500 500%2C1275'/%3E%3Cpolygon points='-250%2C500 500%2C-250 1250%2C500 500%2C1250'/%3E%3Cpolygon points='-225%2C500 500%2C-225 1225%2C500 500%2C1225'/%3E%3Cpolygon points='-200%2C500 500%2C-200 1200%2C500 500%2C1200'/%3E%3Cpolygon points='-175%2C500 500%2C-175 1175%2C500 500%2C1175'/%3E%3Cpolygon points='-150%2C500 500%2C-150 1150%2C500 500%2C1150'/%3E%3Cpolygon points='-125%2C500 500%2C-125 1125%2C500 500%2C1125'/%3E%3Cpolygon points='-100%2C500 500%2C-100 1100%2C500 500%2C1100'/%3E%3Cpolygon points='-75%2C500 500%2C-75 1075%2C500 500%2C1075'/%3E%3Cpolygon points='-50%2C500 500%2C-50 1050%2C500 500%2C1050'/%3E%3Cpolygon points='-25%2C500 500%2C-25 1025%2C500 500%2C1025'/%3E%3Cpolygon points='0%2C500 500%2C0 1000%2C500 500%2C1000'/%3E%3Cpolygon points='25%2C500 500%2C25 975%2C500 500%2C975'/%3E%3Cpolygon points='50%2C500 500%2C50 950%2C500 500%2C950'/%3E%3Cpolygon points='75%2C500 500%2C75 925%2C500 500%2C925'/%3E%3Cpolygon points='100%2C500 500%2C100 900%2C500 500%2C900'/%3E%3Cpolygon points='125%2C500 500%2C125 875%2C500 500%2C875'/%3E%3Cpolygon points='150%2C500 500%2C150 850%2C500 500%2C850'/%3E%3Cpolygon points='175%2C500 500%2C175 825%2C500 500%2C825'/%3E%3Cpolygon points='200%2C500 500%2C200 800%2C500 500%2C800'/%3E%3Cpolygon points='225%2C500 500%2C225 775%2C500 500%2C775'/%3E%3Cpolygon points='250%2C500 500%2C250 750%2C500 500%2C750'/%3E%3Cpolygon points='275%2C500 500%2C275 725%2C500 500%2C725'/%3E%3Cpolygon points='300%2C500 500%2C300 700%2C500 500%2C700'/%3E%3Cpolygon points='325%2C500 500%2C325 675%2C500 500%2C675'/%3E%3Cpolygon points='350%2C500 500%2C350 650%2C500 500%2C650'/%3E%3Cpolygon points='375%2C500 500%2C375 625%2C500 500%2C625'/%3E%3Cpolygon points='400%2C500 500%2C400 600%2C500 500%2C600'/%3E%3Cpolygon points='425%2C500 500%2C425 575%2C500 500%2C575'/%3E%3Cpolygon points='450%2C500 500%2C450 550%2C500 500%2C550'/%3E%3Cpolygon points='475%2C500 500%2C475 525%2C500 500%2C525'/%3E%3C/g%3E%3Crect fill-opacity='0.17' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E"); */
  /* background-attachment: fixed; */
  /* background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.error-msg {
  color: #ff0000;
  margin-top: 5px;
  padding-right: 15px;
}
.profile__info,
.profile__image {
  display: flex;
  position: absolute;
  top: 115%;
  left: 8%;
  transform: translate(-50%, -50%);
}
.profile__image-image {
  border: 5px solid #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile__image-edit {
  position: absolute;
  top: 80%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.profile__image-edit:hover {
  cursor: pointer;
}
.profile__info {
  width: 50%;
  top: 180%;
  left: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.profile__info {
  /* background-color: #f2f2f2; */
  color: #666;
  padding: 20px;
  border-radius: 5px;
}

.profile__info h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.profile__info p {
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}

.profile__info p:last-child {
  margin-bottom: 0;
}
.profile__actions {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: end;
}
.slick-track {
  padding: 1rem;
  display: flex !important;
  width: 100% !important;
  transform: translate3d(0, 0, 0) !important;
}
.profile__books .book__hr {
  display: none;
}
.card.justify-content-center {
  border: none;
  margin-bottom: 0.5rem;
}
.multi__select {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
}
.p-multiselect-label {
  padding: 0.2rem 0.2rem;
}
.p-multiselect-token {
  padding: 0.2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.p-multiselect-panel.p-component {
  padding: 0.5rem;
}
.p-multiselect-item {
  gap: 8px;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.p-inputtext.p-component {
  padding: 0.2rem 0.2rem;
}
.p-inputtext.p-component.p-multiselect-filter.p-multiselect-filter {
  padding-right: 2rem;
}
.p-icon.p-multiselect-filter-icon {
  top: 30%;
}
.p-multiselect-header {
  gap: 8px;
}
.p-dialog.p-component.p-dialog-default.p-ripple-disabled.p-dialog-enter-done {
  /* padding: 1rem; */
}
.p-dialog-header {
  padding: 0.5rem;
}
.p-dialog-content {
  padding: 0.5rem;
}
.project__cards {
  flex-wrap: wrap;
  justify-content: center;
}
.project__cards .card-footer {
  display: flex;
  gap: 4px;
}

/* ************************************* */
#elSearchWrapper {
  position: relative;
}

#elSearch {
  background: #fff;
  color: #222;
  height: 32px;
  width: 350px;
  border-radius: 50px;
  position: relative;
}

#elSearch form {
  display: flex;
  height: 100%;
  border-radius: inherit;
}

#elSearch input[type="search"] {
  flex: 1 1 100%;
  min-width: 0;
  background: transparent;
  box-shadow: none;
  font-size: inherit;
  border: 0;
  padding: 0px 16px;
  color: inherit;
  max-width: none;
}

.cSearchFilter {
  flex: 0 0 auto;
  color: rgb(var(--theme-text_light));
  font-size: 12px;
  position: relative;
  opacity: 0;
  transition: opacity 0.2s linear 2s;
}

.cSearchFilter[open] {
  z-index: 2000;
}

#elSearchField:not(:placeholder-shown) + .cSearchFilter,
#elSearch:focus-within .cSearchFilter,
#elSearch:hover .cSearchFilter {
  opacity: 1;
  transition-delay: 0s;
}

.cSearchFilter__text {
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: 100%;
  cursor: pointer;
  gap: 16px;
  position: relative;
}

.cSearchFilter__text::marker,
.cSearchFilter__text::-webkit-details-marker {
  display: none;
}

.cSearchFilter[open] .cSearchFilter__text::before {
  content: "";
  position: fixed;
  inset: 0;
  cursor: default;
}

.cSearchFilter__text::after {
  border: 4px solid transparent;
  border-top-color: currentColor;
  border-bottom-width: 0;
  content: "";
  width: 0;
  height: 0;
  pointer-events: none;
  margin-left: 0.6em;
}

[dir="rtl"] .cSearchFilter__text::after {
  margin: 0 0.6em 0 0;
}

.cSearchFilter__menu {
  list-style: none;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: calc(100% + 7px);
  right: 0;
  min-width: 180px;
  background: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(113, 128, 150);
  border-radius: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 25px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
  white-space: nowrap;
}

[dir="rtl"] .cSearchFilter__menu {
  right: auto;
  left: 0;
}

.cSearchFilter__menu::before {
  border: 4px solid transparent;
  border-bottom-color: inherit;
  border-top-width: 0;
  content: "";
  width: 0;
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 1em;
  bottom: 100%;
}

[dir="rtl"] .cSearchFilter__menu::before {
  right: 0;
  left: 1em;
}

.cSearchFilter__menu label {
  display: block;
  cursor: pointer;
  position: relative;
}

.cSearchFilter__menu input {
  position: absolute;
  opacity: 0;
}

.cSearchFilter__menuText {
  display: block;
  padding: 0.6em;
  border-radius: 4px;
}

.cSearchFilter__menuText::before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.5em;
  display: inline-block;
}

.cSearchFilter__menuText:hover {
  background-color: rgb(var(--theme-area_background));
}

.cSearchFilter__menu input:focus-visible + .cSearchFilter__menuText {
  outline: 2px solid rgb(var(--theme-brand_primary));
  outline-offset: 2px;
}

.cSearchFilter__menu input:checked + .cSearchFilter__menuText {
  background-color: rgb(75, 78, 87);
  color: #fff;
}

.cSearchFilter__menu input:checked + .cSearchFilter__menuText::before {
  content: "\f00c";
}

.cSearchSubmit {
  border: 0px;
  background: transparent;
  cursor: pointer;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  color: inherit;
}

[dir="ltr"] .cSearchSubmit {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

[dir="rtl"] .cSearchSubmit {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.cSearchSubmit:hover,
.cSearchSubmit:focus,
.cSearchFilter:focus-within .cSearchFilter__text,
.cSearchFilter:hover .cSearchFilter__text {
  background-color: rgb(var(--theme-area_background));
  outline: none !important;
}
input,
input:focus {
  outline: none !important;
}
.search__container {
  padding: 1rem;
  border-radius: 8px;
  min-height: 80vh;
  background-color: rgb(237, 240, 244);
}
.search__header {
  margin-top: 1rem !important;
  margin-bottom: 1rem;
}
.search__title {
  text-transform: capitalize;
  font-size: 22px;
  line-height: 1.6em;
}
.search__description {
  font-size: 16px;
  font-weight: medium;
}
.search__result-count {
  border-bottom: 1px solid rgba(113, 128, 150, 0.15);
}
.search__result-container {
  /* display: flex;
  gap: 1rem; */
  margin-top: 4rem;
}
.card__book,
.search__card {
  cursor: default;
  display: flex;
  gap: 10px;
  padding: 0.5rem;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}

.book__card-content {
  display: flex;
  flex-direction: column;
  direction: rtl;
  gap: 10px;
}
.book__card-content h2 {
  cursor: pointer;
}

[dir="ltr"] .search__card {
  direction: rtl;
}

[dir="rtl"] .search__card {
  direction: ltr;
}

[dir="ltr"] .book__card-content {
  direction: ltr;
}


[dir="rtl"].book__card-content {
  direction: rtl;
}
[dir="ltr"] .search__card {
  direction: rtl;
}
.book__card-img {
  border-radius: 8px;
  width: 220px;
  height: 280px;
}

.book__card-content p {
  margin-bottom: 0;
  color: rgb(53, 60, 65);
}
.book__card-content .star-rating {
  font-size: 22px;
}
.grid-container {
  display: grid;
  gap: 20px; /* Adjust the space between cards */
  grid-template-columns: 1fr; /* Single column layout by default */
}

/* Media query for medium and large screens */
@media (min-width: 1024px) { /* Adjust the breakpoint as needed */
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }
}
.search__card-course{
  display: flex;
  gap: 10px;
  padding: 0.5rem;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}
.course__content{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.course__content h4{
  cursor: pointer;
}
.course__content p,
.course__content h2{
  margin-bottom: 5px;
}
.search__card-course{
  padding: 1rem; direction: ltr;
}
.search__card-course__img{
  background: rgb(237, 240, 244);
  border-radius: 8px;
  width: 40%;
  height: 220px;
}
.course__content .star-rating {
  font-size: 22px;
}